{% extends '@Front/common/_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}


{% block body %}

    <section class="section section-md bg-gray-100">

        <h2 class="text-center">Welcome To Russia</h2>

        <div class="content">
            {% block page_content %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.mobile.custom.min.js') }}"></script>
    <script src="{{ asset('assets/js/mains.js') }}"></script>
{% endblock %}