{% trans_default_domain 'FOSUserBundle' %}


<!-- Section Contact-->
<section class="section section-variant-1 bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-7 col-xl-8">
                <!-- Heading Component-->
                <article class="heading-component">
                    <div class="heading-component-inner">
                        <h5 class="heading-component-title">Get in touch
                        </h5>
                    </div>
                </article>


                <div class="blog-post-comments">
                    <!-- Post Comment-->
                    <div class="post-comment">
                        <div class="post-comment-aside"><img class="img-circle" src="images/user-4-69x69.jpg" alt=""
                                                             width="69" height="69">
                        </div>
                        <div class="post-comment-main">
                            <div class="post-comment-header">
                                <h5 class="author-name">{{ user.username }}</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">{{ user.email }}</div>
                                <div class="col-lg-6">15</div>
                            </div>
                        </div>
                    </div>


                </div>

                {#<form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="http://livedemo00.template-help.com/wt_63853/soccer/bat/rd-mailform.php">#}
                {#<div class="row row-10 row-narrow">#}
                {#<div class="col-md-6">#}
                {#<div class="form-wrap">#}
                {#<label class="form-label" for="form-user-name-1">Your Name</label>#}
                {#<input class="form-input" id="form-user-name-1" type="text" name="name" data-constraints="@Required">#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-6">#}
                {#<div class="form-wrap">#}
                {#<label class="form-label" for="form-user-phone">Phone</label>#}
                {#<input class="form-input" id="form-user-phone" type="text" name="phone" data-constraints="@Numeric @Required">#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-sm-12">#}
                {#<div class="form-wrap">#}
                {#<label class="form-label" for="form-message">Message</label>#}
                {#<textarea class="form-input" id="form-message" name="message" data-constraints="@Required"></textarea>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-6">#}
                {#<div class="form-wrap">#}
                {#<label class="form-label" for="form-email">E-mail</label>#}
                {#<input class="form-input" id="form-email" type="email" name="email" data-constraints="@Email @Required">#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-6">#}
                {#<button class="button button-lg button-primary button-block" type="submit">Send message</button>#}
                {#</div>#}
                {#</div>#}
                {#</form>#}
            </div>
            <div class="col-lg-5 col-xl-4">
                <!-- Heading Component-->
                <article class="heading-component">
                    <div class="heading-component-inner">
                        <h5 class="heading-component-title">Contact Details
                        </h5>
                    </div>
                </article>

                <div class="contact-list">
                    <dl>
                        <dt>E-mail</dt>
                        <dd><span class="icon icon-primary mdi mdi-email-outline"></span><a class="link"
                                                                                            href="mailto:#">{{ user.email|upper }}</a>
                        </dd>
                    </dl>
                    {% if user.hasAddress %}
                        <dl>
                            <dt>Address</dt>
                            <dd><span class="icon icon-primary mdi mdi-map-marker"></span><a class="link" href="#">71
                                    Pilgrim Avenue Chevy Chase, MD 20815</a></dd>
                        </dl>
                    {% endif %}
                    <dl>
                        <dt>Phone</dt>
                        {% if user.hasPhone %}
                            <dd><span class="icon icon-primary mdi mdi-phone"></span><a class="link link-md"
                                                                                        href="callto:#">{{ user.phone }}</a>
                            </dd>
                        {% else %}
                            <dd><span class="icon icon-primary mdi mdi-phone"></span><a class="link link-md"
                                                                                        href="#">{{ user.phone }}</a>
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="fos_user_user_show">

    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
