{% trans_default_domain 'FOSUserBundle' %}


<!-- Section Contact-->
<section class="section section-variant-1 bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-7 col-xl-8">
                <!-- Heading Component-->
                <article class="heading-component">
                    <div class="heading-component-inner">
                        <h5 class="heading-component-title">Get in touch
                        </h5>
                    </div>
                </article>


                <div class="blog-post-comments">
                    <!-- Post Comment-->
                    <div class="post-comment">
                        <div class="post-comment-aside"><img class="img-circle" src="{{ asset('assets/images/user/user.png') }}" alt=""
                                                             width="69" height="69">
                        </div>
                        <div class="post-comment-main">
                            <div class="post-comment-header">
                                <h5 class="author-name">{{ user.username }}</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">{{ user.email }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-list">
                        <dl>
                            <a class="link" href="{{ path('fos_user_change_password') }}"><h5>change password</h5></a><br>
                        </dl>
                        <dl>
                            <a class="link" href="{{ path('fos_user_profile_edit') }}"><h5>edit profile</h5></a>
                        </dl>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <!-- Heading Component-->
                <article class="heading-component">
                    <div class="heading-component-inner">
                        <h5 class="heading-component-title">Contact Details
                        </h5>
                    </div>
                </article>

                <div class="contact-list">
                    <dl>
                        <dt>E-mail</dt>
                        <dd><span class="icon icon-primary mdi mdi-email-outline"></span><a class="link"
                                                                                            href="mailto:#">{{ user.email|upper }}</a>
                        </dd>
                    </dl>
                        <dl>
                            <dt>Address</dt>
                            <dd><span class="icon icon-primary mdi mdi-map-marker"></span><a class="link" href="#">71
                                    Pilgrim Avenue Chevy Chase, MD 20815</a></dd>
                        </dl>
                    <dl>
                        <dt>Phone</dt>
                        {% if user.hasPhone %}
                            <dd><span class="icon icon-primary mdi mdi-phone"></span><a class="link link-md"
                                                                                        href="callto:#">{{ user.phone }}</a>
                            </dd>
                        {% else %}
                            <dd><span class="icon icon-primary mdi mdi-phone"></span><a class="link link-md"
                                                                                        href="#">{{ user.phone }}</a>
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

