{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    <section class="section parallax-container breadcrumbs-wrap" data-parallax-img="{{ asset('templates/images/bg-breadcrumbs-1.jpg') }}">
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Roster</h3>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="{{ path('team_list') }}">List</a></li>
                    <li><a href="#">Details</li>
                    <li class="active">{{ name }}</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <!-- Heading Component-->
            <article class="heading-component">
                <div class="heading-component-inner">
                    <h5 class="heading-component-title">{{ name }} Details
                    </h5>
                </div>
            </article>

            <div class="row row-30">
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Inf  o Modern-->
                    <div class="player-info-modern"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/roster-player-1-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number">
                                <p>10</p>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">David Hawkins</a></h5>
                                    <p>Defender</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    <div class="player-info-modern"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/roster-player-5-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number">
                                <p>06</p>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">Jack Windsor</a></h5>
                                    <p>Midfielder</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    <div class="player-info-modern"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/player-2-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number">
                                <p>07</p>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">Joe Perkins</a></h5>
                                    <p>Midfielder</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    <div class="player-info-modern"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/roster-player-2-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number">
                                <p>02</p>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">Harry Stevenson</a></h5>
                                    <p>Defender</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    <div class="player-info-modern"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/roster-player-3-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number">
                                <p>03</p>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">Jose Calderon</a></h5>
                                    <p>Goalkeeper</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    <div class="player-info-modern player-info-modern-accent"><a class="player-info-modern-figure" href="player-page.html"><img src="./images/roster-player-4-368x286.png" alt="" width="368" height="286"/></a>
                        <div class="player-info-modern-footer">
                            <div class="player-info-modern-number"><span class="icon fa-weixin"></span>
                            </div>
                            <div class="player-info-modern-content">
                                <div class="player-info-modern-title">
                                    <h5><a href="player-page.html">Luis Enrique</a></h5>
                                    <p>Team Coach</p>
                                </div>
                                <div class="player-info-modern-progress">
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Pass Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">95</span>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear progress-bar-modern">
                                        <div class="progress-header">
                                            <p>Shots Acc</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"></div>
                                        </div><span class="progress-value">70</span>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}