{% extends 'BackBundle:common:_base.html.twig' %}

{% block page_content %}
    <h1>Article</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ article.content|raw }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        {#<li>#}
        {#<a href="{{ path('admin_article_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
