{% for comment in comments %}
<div class="post-comment">
    <div class="post-comment-aside"><img class="img-circle" src="./images/user-6-69x69.jpg" alt="" width="69" height="69">
    </div>
    <div class="post-comment-main">
        <div class="post-comment-header">
            <h5 class="author-name">{{ comment.user }}</h5>
            <time class="post-comment-time" datetime="{{ comment.created|date('Y') }}">{{ comment.created|ago }}
            </time>
        </div>
        <div class="post-comment-text">
            <p>{{ comment.content }}</p>
        </div>
        <div class="post-comment-footer">
            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
            <div class="fa-hover col-md-3 col-sm-4 col-xs-12"><a href="{{ path('forum_forum_comments_removecomment' ,{'id': comment.id}) }}"><span class="fa fa-trash-o"></span></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}