{% for comment in comments %}
<div class="post-comment">
    <div class="post-comment-main">
        <div class="post-comment-header">
            <h5 class="author-name">{{ comment.user }}</h5>
            <time class="post-comment-time" datetime="{{ comment.created|date('Y') }}">{{ comment.created|ago }}
            </time>
        </div>
        <div class="post-comment-text">
            <p>{{ comment.content }}</p>
        </div>
        <div class="post-comment-footer">
            <div class="fa-hover col-md-3 col-sm-4 col-xs-12"><a
                        href="{{ path('remove_comment' ,{'comment': comment.id , 'subject': comment.subject.id}) }}"><span
                            class="fa fa-trash-o"></span></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}