{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addresses list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Country</th>
            <th>City</th>
            <th>State</th>
            <th>Street1</th>
            <th>Street2</th>
            <th>Postalcode</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.country }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.street1 }}</td>
                <td>{{ address.street2 }}</td>
                <td>{{ address.postalcode }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('address_show', { 'id': address.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('address_edit', { 'id': address.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_new') }}">Create a new address</a>
        </li>
    </ul>
{% endblock %}
