<div class="col-md-12 owl-carousel-outer-navigation">
    <article class="heading-component">
        <div class="heading-component-inner">
            <h5 class="heading-component-title">Latest News
            </h5>
            <div class="owl-carousel-arrows-outline">
                <div class="owl-nav">
                    <button class="owl-arrow owl-arrow-prev"></button>
                    <button class="owl-arrow owl-arrow-next"></button>
                </div>
            </div>
        </div>
    </article>
    <!-- Owl Carousel-->
    <div class="owl-carousel" data-items="1" data-md-items="2" data-lg-items="3" data-dots="false"
         data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30"
         data-mouse-drag="false" data-nav-custom=".owl-carousel-outer-navigation">
        {% for article in articles %}

            {% set url = path('article_show', {'id' : article.id}) %}
            <!-- Post Carmen-->
            <article class="post-carmen">
                <img src="{{ asset('assets/images/news-5-2-369x343.jpg') }}" alt="" width="369"
                     height="343"/>
                <div class="post-carmen-header">
                    <!-- Badge-->
                    <div class="badge {{ article.badge.class }}">{{ article.category.name }}
                    </div>
                </div>
                <div class="post-carmen-main">
                    <h4 class="post-carmen-title"><a href="{{ url }}">{{ article.title }}</a></h4>
                    <div class="post-carmen-meta">
                        <div class="post-carmen-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="{{ article.created|date('Y') }}">{{ article.created|date('F j, Y') }}</time>
                        </div>
                        <div class="post-carmen-comment">
                            <span class="icon mdi mdi-thumb-up-outline"></span><a
                                    href="#">{{ article.votes|length }}</a></div>
                        <div class="post-carmen-view"><span class="icon fl-justicons-visible6"></span>234
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
