{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password rd-form rd-mailform' } }) }}

<div class="form-wrap">
    {{ form_label(form.current_password, 'Current Password', {'label_attr': {'class': 'form-label rd-input-label'}}) }}
    {{ form_widget(form.current_password, { 'attr': {'class': 'form-input form-control-has-validation form-control-last-child', 'type':'password', 'data-constraints':'@Required'} }) }}
    <span class="form-validation">{{ form_errors(form.current_password) }}</span>
</div>

<div class="form-wrap">
    {{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': 'form-label rd-input-label'}}) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-input form-control-has-validation form-control-last-child', 'type':'password', 'data-constraints':'@Required'} }) }}
    <span class="form-validation">{{ form_errors(form.plainPassword.first) }}</span>
</div>

<div class="form-wrap">
    {{ form_label(form.plainPassword.second, 'Repeat Password', {'label_attr': {'class': 'form-label rd-input-label'}}) }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-input form-control-has-validation form-control-last-child', 'type':'password', 'data-constraints':'@Required'} }) }}
    <span class="form-validation">{{ form_errors(form.plainPassword.second) }}</span>
</div>

<button class="button button-lg button-primary button-block" type="submit">Create new
    account
</button>
{{ form_end(form) }}