{% trans_default_domain 'FOSUserBundle' %}


<section class="section section-variant-1 bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-7 col-xl-12">
                <article class="heading-component">
                    <div class="heading-component-inner">
                        <h5 class="heading-component-title">Change Password
                        </h5>
                    </div>
                </article>
                {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal form-label-left','display': 'inline' }}) }}
                <div style="background-color: white; padding: 20px 20px 20px 20px">

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'New Password*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@stadium @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Repeat New Password*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@stadium @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.current_password, 'Current Password*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@stadium @Required'} }) }}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <br>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
