{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Group List{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Group List'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">Group</a></li>
            <li class="active">List</li>
        {% endblock %}
    {% endembed %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->
                            {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : 'Group List' } %}
                            {% endembed %}

                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group A</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Russia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/RussieFlag.png') }}" alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">RUSSIA</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'ArabieSaoudite'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/ArabieSaoudite.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Saudi Arabia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Egypt'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/EgypteFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Egypte</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Uruguay'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/Uruguay.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Ururuay</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->
                                <article class="card ">

                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group B</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Portugal'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/PortugalFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Portugal</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Espagne'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/EspagneFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Spain</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Maroc'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/MarcoFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Morocco</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Iran'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/IranFlag.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Iran</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group C</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'France'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/FranceFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">France</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Australia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/AustralieFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Australia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Perou'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/PerouFlagjpg.jpg') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Peru</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Danemark'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/DanemarkFlag.jpg') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Denmark</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group D</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Argentina'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/ArgentinaFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Argentina</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Iceland'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/IslandeFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Iceland</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Croatia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/CoroatiaFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Croatia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Nigiria'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/NigiriaFlag.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Nigeria</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group E</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Brazil'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/BresilFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Brazil</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Swiss'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/SuisseFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Swiss</div>

                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Costa-rica'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/Costa-ricaFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Costa Rica</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Serbia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/SerbieFlag.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Serbia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group F</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Germany'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/AllemagneFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Germany</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Mexico'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/Mexique.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Mexico</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Sweden'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/SuedeFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Sweden</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'South-Korea'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/Coree-du-sud.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">South-Korea</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group G</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Belgium'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/BelgiqueFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Belgium</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Panama'}) }}">

                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/PanamaFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Panama</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Tunisia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/TunisiaFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Tunisia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'England'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/Angleterre.jpg') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">England</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12">
                    <div class="row row-50">
                        <div class="col-12">
                            <!-- Heading Component-->


                            <div class="card-standing card-group-custom card-standing-index" id="accordion1"
                                 role="tablist" aria-multiselectable="false">
                                <div class="list-cos">
                                    <div class="card-header">
                                        <div class="card-standing-caption-aside ">
                                            <div class="card-standing-team">Group H</div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading1" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Poland'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src="{{ asset('assets/images/PologneFlag.png') }}"
                                                                alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Poland</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading2" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Senegal'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/SenegalFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Senegal</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading3" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Colombia'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/ColombieFlag.png') }} alt=""
                                                                width="50" height="37"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Colombia</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </article>
                                <!-- Bootstrap card-->
                                <article class="card ">
                                    <div class="card-header" id="accordion1Heading4" role="tab">
                                        <a href="{{ path('team_display',{'Name':'Japan'}) }}">
                                            <div class="card-standing-team-item">
                                                <div class="card-standing-team">
                                                    <div class="card-standing-team-figure"><img
                                                                src={{ asset('assets/images/JaponFlag.png') }} alt=""
                                                                width="37" height="34"/>
                                                    </div>
                                                    <div class="card-standing-team-title">
                                                        <div class="card-standing-team-name">Japan</div>

                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                </article>
                                <!-- Bootstrap card-->

                                <!-- Bootstrap card-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}