{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : name ~' Details'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="{{ path('team_list') }}">List</a></li>
            <li><a href="#">Details</a></li>
            <li class="active">{{ name }}</li>
        {% endblock %}
    {% endembed %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <!-- Heading Component-->
            {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : name ~' Details' } %}
            {% endembed %}
            <div class="row row-30">
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlanDzageoev.jpg') }} {% endblock %}
                        {% block player_number %}29{% endblock %}
                        {% block player_name %}Alan Dzageoev {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AleksanderAniounkov.jpg') }} {% endblock %}
                        {% block player_number %}28{% endblock %}
                        {% block player_name %}Aleksander Aniounkov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AleksanderGoovin.jpg') }} {% endblock %}
                        {% block player_number %}27{% endblock %}
                        {% block player_name %}Aleksander Goovin {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AleksanderSamedov.jpg') }} {% endblock %}
                        {% block player_number %}26{% endblock %}
                        {% block player_name %}Jack Windsor {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AleksandrBelnov.jpg') }} {% endblock %}
                        {% block player_number %}25{% endblock %}
                        {% block player_name %}Jack Windsor {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/Aleksandrkokorin.jpg') }} {% endblock %}
                        {% block player_number %}24{% endblock %}
                        {% block player_name %}Aleksandr Kokorin {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlekseiInov.jpg') }} {% endblock %}
                        {% block player_number %}23{% endblock %}
                        {% block player_name %} Aleksei Inov{% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlekseiMiranchuk.jpg') }} {% endblock %}
                        {% block player_number %}22{% endblock %}
                        {% block player_name %}Aleksei Miranchuk {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlekxandrErokhrin.jpg') }} {% endblock %}
                        {% block player_number %}21{% endblock %}
                        {% block player_name %}Alekxandr Erokhrin {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlexanderRyzantsev.jpg') }} {% endblock %}
                        {% block player_number %}20{% endblock %}
                        {% block player_name %}Alexander Ryzantsev {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AleksanderAniounkov.jpg') }} {% endblock %}
                        {% block player_number %}19{% endblock %}
                        {% block player_name %}Aleksander Aniounkov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AlexeiBerezoutski.jpg') }} {% endblock %}
                        {% block player_number %}18{% endblock %}
                        {% block player_name %}Alexei Berezoutski {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AndryEshchenko.jpg') }} {% endblock %}
                        {% block player_number %}17{% endblock %}
                        {% block player_name %}Andry Eshchenko {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/AntonChounine.jpg') }} {% endblock %}
                        {% block player_number %}16{% endblock %}
                        {% block player_name %}Anton Chounine {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/ArtyoDziouba.jpg') }} {% endblock %}
                        {% block player_number %}15{% endblock %}
                        {% block player_name %}Artyo Dziouba {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/DenisGlouchakov.jpg') }} {% endblock %}
                        {% block player_number %}14{% endblock %}
                        {% block player_name %}Denis Glouchakov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/DenisChreyshev.jpg') }} {% endblock %}
                        {% block player_number %}13{% endblock %}
                        {% block player_name %}Denis Chreyshev {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/DimitriTarasov.jpg') }} {% endblock %}
                        {% block player_number %}12{% endblock %}
                        {% block player_name %}Dimitri Trasov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/DimitiriKombarov.jpg') }} {% endblock %}
                        {% block player_number %}11{% endblock %}
                        {% block player_name %}Dimitri Kombarov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/FyodorSmolov.jpg') }} {% endblock %}
                        {% block player_number %}10{% endblock %}
                        {% block player_name %}Fydor Smolov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/RomanChichkine.jpg') }} {% endblock %}
                        {% block player_number %}06{% endblock %}
                        {% block player_name %}Roman Chichkine{% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/GeorgiDzhikiya.jpg') }} {% endblock %}
                        {% block player_number %}09{% endblock %}
                        {% block player_name %}Georgi Dzhikiya {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/SergueiIgnachevitch.jpg') }} {% endblock %}
                        {% block player_number %}08{% endblock %}
                        {% block player_name %}Serguei Ignachevitch {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/VassiliBerezoutski.jpg') }} {% endblock %}
                        {% block player_number %}07{% endblock %}
                        {% block player_name %}Vassili Berezoutski {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/IgorSmolnikov.jpg') }} {% endblock %}
                        {% block player_number %}06{% endblock %}
                        {% block player_name %}Igor Smolnikov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/GuilhermeMarinato.jpg') }} {% endblock %}
                        {% block player_number %}05{% endblock %}
                        {% block player_name %}Guilherme Marinato {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/VictorVasin.jpg') }} {% endblock %}
                        {% block player_number %}04{% endblock %}
                        {% block player_name %}Victor Vrasin {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/IgorAkinfeev.jpg') }} {% endblock %}
                        {% block player_number %}03{% endblock %}
                        {% block player_name %}Igor Akinfeev {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/DmitriPoloz.jpg') }} {% endblock %}
                        {% block player_number %}02{% endblock %}
                        {% block player_name %}Dmitri Poloz {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!-- Player Info Modern-->
                    {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' %}
                        {% block player_image %}{{ asset('/assets/images/russie/OlegChatov.jpg') }} {% endblock %}
                        {% block player_number %}1{% endblock %}
                        {% block player_name %}Oleg Chatov {% endblock %}
                        {% block player_position %} Midfielder{% endblock %}
                        {% block player_skills %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Pass acc{% endblock %}
                                {% block skill_progress %}95{% endblock %}
                            {% endembed %}
                            {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                {% block skill_name %} Shots Acc{% endblock %}
                                {% block skill_progress %}70{% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>


            </div>
        </div>
    </section>
{% endblock %}