{% extends '@Front/common/_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('test.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('modal/css/component.css') }}"/>
{% endblock %}
{% block body %}


    {#TODO : Complete This page#}

    <!-- Section Breadcrumbs-->
    {% set city =  (region.name ~ ' CITY') %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : city } %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('guide_index') }}">Fan Guide</a></li>
            <li><a class="active">{{ region.name|capitalize }}</a></li>
        {% endblock %}
    {% endembed %}

    {% include '@Guide/place/modal-list.html.twig' %}

    {{ render(controller('GuideBundle:City:renderPlace',
    {'places' : places , 'category' : category , 'region': region})) }}
    <div class="md-overlay"></div><!-- the overlay element -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/axios.min.js') }}"></script>
    <script src="{{ asset('modal/js/cssParser.js') }}"></script>
    <script src="{{ asset('modal/js/classie.js') }}"></script>
    <script src="{{ asset('modal/js/modalEffects.js') }}"></script>
    <script>

    </script>

{% endblock %}