{% set route = app.request.attributes.get('_route_params')['code'] %}


{% set museum = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_MUSEUM') %}
{% set attractions = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_ATTRACTION') %}
{% set park = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_PARK') %}
{% set entertainment = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_ENTERTAINMENT') %}
{% set cafe = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_CAFE') %}
{% set sport = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_SPORT') %}
{% set religious = constant('Common\\RegionBundle\\Entity\\Category::CATEGORY_TYPE_RELEGIOUS') %}


{% extends '@Front/common/_base.html.twig' %}

{% block title %}Guide | Visit {{ region.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('test.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('modal/css/component.css') }}"/>
    <style>
        #mapid {
            height: 40em;
        }

        #logo {
            height: 240px;
            width: 280px;
            overflow: hidden;
        }

        .white {
            color: white;
        }
    </style>
{% endblock %}
{% block body %}

    {#Completed : Complete This page#}


    {% if region.file is null %}
        {% set picture = "" %}
    {% else %}
        {% set picture = "/uploads/region/" ~ asset(region.file.filename) %}
    {% endif %}


    <!-- Section Breadcrumbs-->
    {% set city =  (region.name ~ ' CITY') %}
    {% embed 'FrontBundle:common:_breadcrumbs-image.html.twig' with {'breadcrumbs_title' : city } %}
        {% block image %}{{ asset(picture) }}{% endblock %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('guide_index') }}">Fan Guide</a></li>
            <li><a class="active">{{ region.name|capitalize }}</a></li>
        {% endblock %}
    {% endembed %}



    {% include '@Guide/place/modal-list.html.twig' %}


    <section class="section section-md bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-xl-8">

                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">{{ category.name }}
                            </h5>
                            <div class="heading-component-aside">
                                <ul class="list-inline list-inline-xs list-inline-middle">
                                    <li>
                                        <select class="category select select-minimal"
                                                data-placeholder="Select an option"
                                                data-dropdown-class="select-minimal-dropdown" style="min-width: 124px;">
                                            <option
                                                    value="{{ attractions }}"
                                                    {% if route == attractions %}selected{% endif %}>Landmarks
                                            </option>
                                            <option
                                                    {% if route == museum %}selected{% endif %}
                                                    value="{{ museum }}">
                                                Museums and galleries
                                            </option>
                                            <option {% if route == park %}selected{% endif %}
                                                    value="{{ park }}">
                                                Parks
                                            </option>
                                            <option {% if route == entertainment %}selected{% endif %}
                                                    value="{{ entertainment }}">
                                                Entertainment
                                            </option>
                                            <option {% if route == cafe %}selected{% endif %}
                                                    value="{{ cafe }}">
                                                Restaurants and bars
                                            </option>
                                            <option {% if route == sport %}selected{% endif %}
                                                    value="{{ sport }}">
                                                Athletic facilities
                                            </option>
                                            <option {% if route == religious %}selected{% endif %}
                                                    value="{{ religious }}">
                                                Religious sites
                                            </option>
                                        </select>
                                    </li>
                                    <li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    {{ render(controller('GuideBundle:City:renderPlace',
                        {'places' : places , 'category' : category , 'region': region})) }}
                </div>

                <div class="col-xl-4">
                    <div class="row row-50">
                        <div class="col-md-6 col-xl-12">
                            <!-- Categories-->
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">Video
                                    </h5>
                                </div>
                            </article>

                            <article class="post-carmen">
                                <img class="img-thumbnail"
                                     src="https://img.youtube.com/vi/{{ region.youtubeVideo|default('gpMvd_yYft4') }}/hqdefault.jpg"
                                     alt="" width="369"
                                     height="343"/>
                                <div class="post-carmen-header">
                                    <!-- Post Video Button-->
                                    <a class="post-video-button" href="#modal1"
                                       data-toggle="modal"><span
                                                class="icon material-icons-play_arrow"></span></a>
                                </div>
                                <div class="post-carmen-main">
                                    <h4 class="post-carmen-title"><a href="#">Explore {{ region.name }}</a></h4>
                                    <div class="post-carmen-meta">
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-md-6 col-xl-12">
                            <!-- Select size-->
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">TICKET
                                    </h5>
                                </div>
                            </article>

                            {{ render(controller('TicketBundle:Ticket:ticketRandom')) }}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <div class="modal modal-video fade" id="modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315"
                                src="https://www.youtube.com/embed/{{ region.youtubeVideo|default('gpMvd_yYft4') }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div

    <div class="md-overlay"></div><!-- the overlay element -->
    <section class="section bg-gray-100">
        <div class="row row">
            <div class="col-xl-12">
                <div id="mapid">
                </div>
            </div>
        </div>

    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/axios.min.js') }}"></script>
    <script src="{{ asset('modal/js/cssParser.js') }}"></script>
    <script src="{{ asset('modal/js/classie.js') }}"></script>
    <script src="{{ asset('modal/js/redirect.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script>
        $(document).ready(function () {


            {% if region.location is null %}
            var regionLat = '55.55';
            var regionLong = '55.55';
            {% else %}
            var regionLat = '{{ region.location.geoCode.latitude }}';
            var regionLong = '{{ region.location.geoCode.longitude }}';

            {% endif %}
            console.log(regionLat);
            var latlng = L.latLng(regionLat, regionLong);
            var map = L.map('mapid', {
                scrollWheelZoom: false
            }).setView(latlng, 11);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            map.on('click', function () {
                if (map.scrollWheelZoom.enabled()) {
                    map.scrollWheelZoom.disable();
                }
                else {
                    map.scrollWheelZoom.enable();
                }
            });

            var markers = [];
            {% for place in places %}
            var longitutde = '{{ place.location.geoCode.latitude }}';
            var latitude = '{{ place.location.geoCode.longitude }}';
            markers.push([latitude, longitutde, "{{ place.name }}"]);
            {% endfor %}
            for (var i = 0; i < markers.length; i++) {

                var lon = markers[i][0];
                var lat = markers[i][1];
                var popupText = markers[i][2];

                var markerLocation = new L.LatLng(lat, lon);
                var marker = new L.Marker(markerLocation);
                map.addLayer(marker);

                marker.bindPopup(popupText);

            }

//            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
//                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
//                maxZoom: 18,
//                id: 'mapbox.streets',
//                accessToken: 'pk.eyJ1IjoiYWppbWkiLCJhIjoiY2pkdzAwbGd0MDBlMjMzbW80eHhiYmkwNiJ9.973ZN-TEe6UQHA13JGb_Bg\n'
//            }).addTo(mymap);
//            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
//            }).addTo(map);

            $(".category").on('change', function () {
                $item = $(this).val();
                $route = Routing.generate('city_index', {'code': $item, 'slug': '{{ region.slug }}'});
                console.log($route);
                $.redirect($route);
            });
        });
    </script>

{% endblock %}