{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}{{ team.teamName }}{% endblock %}
{% block header_team %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed '@Guide/place/_breadcrum-with-image.html.twig' with {'breadcrumbs_title' : 'Team Overview' , 'image': asset('assets/images/team-display-bc.jpg')} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">Team</a></li>
            <li class="active">{{ team.teamName }}</li>
        {% endblock %}
    {% endembed %}

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <!-- Heading Component-->
            <div class="row row-30">
                <div class="col-lg-8">
                    {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : 'Team Overview' } %}
                    {% endembed %}
                    {% embed  'FrontBundle:team-component:_team-info-coprate.html.twig' with { 'imageLogo' : team.file } %}
                        {% block shortcut %}{{ team.teamShortcut }}{% endblock %}
                        {% block teamName %}{{ team.teamName }}{% endblock %}
                        {% block participation %}{{ team.participation }}{% endblock %}
                        {% block winner %}{{ team.winner }}{% endblock %}
                        {% block second %}{{ team.second }}{% endblock %}
                        {% block third %}{{ team.third }}{% endblock %}
                    {% endembed %}
                    <div class="block-player-info">
                        {% embed  'FrontBundle:team-component:_team-info-bio.html.twig' %}
                            {% block bio %}
                                <p>Jack Windsor's footballing career started in 1995 at Newell's Old Boys, where he
                                    played until the year 2000. At the age of 13, Jack crossed the Atlantic to try his
                                    luck in Barcelona, and joined the Under 14s. He made spectacular progress at each of
                                    the different age levels, climbing through the ranks to Atletico C, followed by
                                    Atletico B and the first team in record time.</p>
                                <p>As of 2017 Jack Windsor is worth an estimated $80 million, taking into account his
                                    salary plus bonuses and endorsements, according to Forbes.com. That makes him the
                                    second highest-paid soccer player and the third highest-paid athlete in the
                                    world.</p>
                                <p>At the Under 20 World Cup in Holland, Windsor not only won the title with USA, but
                                    was also the leading goalscorer and was voted best player in the tournament. </p>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-md-6 col-lg-12">
                            <!-- Heading Component-->
                            {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : 'Statistics' } %}
                            {% endembed %}
                            {% embed  'FrontBundle:team-component:_team-stat.html.twig' %}
                                {% block gs %}{{ gs }}{% endblock %}
                                {% block shots %}{{ shots }}{% endblock %}
                                {% block sot %}{{ sot }}{% endblock %}
                                {% block assists %}{{ assists }}{% endblock %}
                                {% block fouls %}{{ fouls }}{% endblock %}
                                {% block corners %}{{ corners }}{% endblock %}
                                {% block penalties %}{{ penalties }}{% endblock %}
                                {% block yc %}{{ yc }}{% endblock %}
                                {% block rc %}{{ rc }}{% endblock %}
                            {% endembed %}
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div class="aside-component">
                                <!-- Heading Component-->
                                {% embed  'FrontBundle:other-component:_heading-component.html.twig' with { 'headingTitle' : 'Standing','link' : 'full_standings','heading' : 'Full Standings' } %}
                                {% endembed %}
                                <!-- Table team-->
                                {% embed  'FrontBundle:standing-component:_table-standing-classic.html.twig' %}
                                    {% block teams %}
                                        {% set i=1 %}
                                        {% for s in standing %}
                                            {% set logo = 'assets/images/teamUploads/' ~ s.logo %}
                                            {% embed  'FrontBundle:standing-component:_team-rank.html.twig' with { 'teamLogo' : logo~'','rank': i,'teamId': s.idTeam} %}
                                                {% block teamName %}{{ s.teamName }}{% endblock %}
                                                {% block  teamShortCut %}{{ s.teamShortcut }}{% endblock %}
                                                {% block teamWins %}{{ s.win }}{% endblock %}
                                                {% block teamLoss %}{{ s.lost }}{% endblock %}
                                                {% block teamDraw %}{{ s.draw }}{% endblock %}
                                                {% block  points %}{{ s.points }}{% endblock %}
                                            {% endembed %}
                                            {% set i=i+1 %}
                                        {% endfor %}
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- Heading Component-->
                    {% embed  'FrontBundle:other-component:_heading-component-title.html.twig' with { 'heading_title' : 'Players' } %}
                    {% endembed %}
                </div>
                {% for player in team.players %}
                    <div class="col-sm-6 col-lg-4">
                        <!-- Player Info Modern-->
                        {% embed 'FrontBundle:player-component:_player-info-modern.html.twig' with {'imagePlayer': player.file,'id':player.id} %}
                            {% block player_image %} {% endblock %}
                            {% block player_number %}{{ player.playerNumber }}{% endblock %}
                            {% block player_name %}{{ player.playerName~" "~player.playerLastName }} {% endblock %}
                            {% block player_position %} {{ player.playerPosition }}{% endblock %}
                            {% block player_skills %}
                                {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                    {% block skill_name %} Finishing{% endblock %}
                                    {% block skill_progress %}
                                        {% if player.shotsOnTarget!=0 %}
                                            {{ player.goalScored*100/player.shotsOnTarget }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                                {% embed 'FrontBundle:player-component:_team-info-player-skill-progress-bar.html.twig' %}
                                    {% block skill_name %} Shots Acc{% endblock %}
                                    {% block skill_progress %}
                                        {% if player.shots!=0 %}
                                            {{ player.shotsOnTarget*100/player.shots }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}