<div class="aside-component">
    <!-- Heading Component-->
    <article class="heading-component">
        <div class="heading-component-inner">
            <h5 class="heading-component-title">STANDINGS
            </h5>
            <div class="owl-carousel-arrows-outline">
                <div class="owl-nav">
                    <button class="owl-arrow owl-arrow-prev"></button>
                    <button class="owl-arrow owl-arrow-next"></button>
                </div>
            </div>
        </div>
    </article>

    <div class="owl-carousel" data-items="1" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="false"
         data-margin="0" data-mouse-drag="false" data-nav-custom=".owl-carousel-outer-navigation">
        <!-- Table team-->
        <div class="table-custom-responsive">
            <table class="table-custom table-standings table-classic">
                <thead>
                <tr>
                    <th colspan="2">Team Position</th>
                    <th>W</th>
                    <th>L</th>
                    <th>PTS</th>
                </tr>
                </thead>
                <tbody>
                {% set i=1 %}
                {% for s in standings %}
                    <tr>
                        <td><span>{{ i }}</span></td>
                        <td class="team-inline">
                            <div class="team-figure"><img src="{{ asset('assets/images/team-bavaria-fc-39x37.png') }}"
                                                          alt="" width="39" height="37"/>
                            </div>
                            <div class="team-title">
                                <div class="team-name">{{ s.teamName }}</div>
                                <div class="team-country">{{ s.teamShortcut }}</div>

                            </div>
                        </td>
                        <td>{{ s.win }}</td>
                        <td>{{ s.lost }}</td>
                        <td>{{ s.points }}</td>
                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>