{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Forum{% endblock %}
{% block header_forum %}active{% endblock %}
{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : 'Forum'} %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class="active">Forum</li>
        {% endblock %}
    {% endembed %}
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <article class="heading-component">
                <div class="heading-component-inner">
                    <h5 class="heading-component-title">Subjects list</h5>
                </div>
            </article>
            <div class="list-post-classic">
                <!-- un sujet-->
                {% for subject in subjects %}
                    {% if  subject.etat == 'Accept'%}
                        {% set totalComments = subject.comments|length  %}
                        {% if totalComments < 2 %}
                            {% set comment = totalComments ~ ' comment'%}

                        {% else %}
                            {% set comment = totalComments ~ ' comments'%}
                        {% endif %}
                        <article class="post-classic">
                            <div class="post-classic-aside"><img src="{{ asset(''~ subject.file) }}" alt="" width="94" height="94"/></div>
                            <div class="post-classic-main">
                                <p class="post-classic-title"><a href="{{ path('subject_show', { 'id': subject.id }) }}">{{ subject.title }}</a></p>
                                <div class="post-classic-time"><span class="icon mdi mdi-clock"></span>{{ subject.created | date('d-M-Y') }}</div>
                                <div class="post-corporate-comment"><span class="icon mdi mdi-comment-outline"></span>{{ comment }}</div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-sm-9 col-md-6 col-lg-4">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Suggest a topic
                            </h5>
                        </div>
                    </article>
                    <div class="list-post-classic">
                        <a class="button button-primary button-icon button-icon-left" href="{{ path('subject_add') }}"><span>Create a new subject</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
