{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Forum{% endblock %}
{% block header_forum %}active{% endblock %}
{% block body %}
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : subject.title } %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('subject_index') }}">Forum</a></li>
            <li class="active">{{ subject.title }}</li>
        {% endblock %}
    {% endembed %}
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-30">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Badge-->
                        <h3 class="blog-post-title">{{ subject.title }}</h3>
                        <div class="blog-post-header">
                            <div class="blog-post-author"><img class="img-circle" src="{{ asset('assets/images/user-3-63x63.jpg') }}" alt="" width="63" height="63"/>
                                <p class="post-author">{{ subject.author }}</p>
                            </div>
                            <div class="blog-post-meta">
                                <time class="blog-post-time" datetime="2018"><span class="icon mdi mdi-clock"></span>April 15, 2018</time>
                                <div class="blog-post-comment"><span class="icon mdi mdi-comment-outline"></span>345</div>
                                <div class="blog-post-view"><span class="icon fl-justicons-visible6"></span>234</div>
                            </div>
                        </div>
                        <div class="blog-post-content">
                            <p>{{ subject.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
