{% extends "BackBundle:common:_base.html.twig" %}
{% block stylesheets %}
    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>
    <style>
        .chart-stat {
            height: 400px;
            width: 400px;
        }
    </style>
{% endblock stylesheets %}
{% block title %}Groups List{% endblock %}
{% block top_content_header %} {% endblock %}
{% block page_content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel ">
            <div class="x_title">
                <div class="" role="main">
                    <h1>Group List </h1>
                    <a class="btn btn-primary" href="{{ path('group_admin_add') }}">New Group</a>
                    <button class="btn btn-primary " data-toggle="modal" data-target="#agregarPunto">
                        Show Statistic
                    </button>
                    <div style="display: none;" class="modal fade" id="agregarPunto" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Statistic Rating</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="div_chart" class="chart-stat"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel
                                    </button>

                                </div>
                            </div>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar-js progress-bar-radial"
                                     data-gradient="#000000"></div>
                                <p class="progress-bar-title">Shot accuracy</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="x_content">

                <table id="datatable-fixed-header" class="table table-striped jambo_table bulk_action"
                       with="18%">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Team 3</th>
                        <th>Team 4</th>
                        <th>Actions</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody id="costum-table">
                    {% for groups in G %}
                        <tr>
                            <td>{{ groups.nameGroup }}</td>
                            <td>{{ groups.team1.teamName }}</td>
                            <td>{{ groups.team2.teamName }}</td>
                            <td>{{ groups.team3.teamName }}</td>
                            <td>{{ groups.team4.teamName }}</td>
                            <td><a href="{{ path('admin_group_edit',{'id':groups.id}) }}"
                                   class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>
                                    Edit</a>
                                <a href="{{ path('admin_group_delete',{'id':groups.id}) }}"
                                   class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
                                    Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Datatables -->
    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>

    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
{% endblock javascripts %}