{% extends "BackBundle:common:_base.html.twig" %}
{% block stylesheets %}
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <!-- TimePicker -->
    <link href="{{ asset('assets/timepicker.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block title %}Add Group{% endblock %}
 {% block top_content_header %} {% endblock %}
    {% block page_content %}
        <a href="/" style="margin-top: 10px;" class="btn btn-success">Back to the application</a>
        <div class="row centered">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel ">
                    <div class="x_title">
                        <center><h2>Add Group
                            </h2></center>

                        <div class="clearfix"></div>
                    </div>
                    <br/>

                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal form-label-left','display': 'inline' }}) }}

                    <div class="form-group">
                        {{ form_label(form.name, 'Group Name*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@teamName1 @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.team1, 'Team 1*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.team1, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@teamName2 @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.team2, 'Team 2*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.team2, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@teamName2 @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.team3, 'Team 3*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.team3, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@teamName2 @Required'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.team4, 'Team 4*', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.team4, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@teamName2 @Required'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.rating, 'Rating', {'label_attr':{'class': 'control-label col-md-3 col-sm-3 col-xs-12','display': 'inline'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.rating, { 'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-constraints':'@rating @Required'} }) }}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <br>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            {{ form_widget(form.create,{ 'attr': {'class': 'btn btn-success'} }) }}
                        </div>
                    </div>

                </div>
                {{ form_end(form) }}

            </div>
        </div>
    {% endblock %}

{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('assets/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('assets/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('assets/vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('assets/vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('assets/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/flot.curvedlines/curvedLines.js') }}"></script>
    <!-- DateJS -->
    <script src="{{ asset('assets/vendors/DateJS/build/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('assets/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ asset('assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>


    <script src="{{ asset('assets/timepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#timepicker').mdtimepicker(); //Initializes the time picker
        });
    </script>
{% endblock javascripts %}
