{% extends 'BackBundle:common:_base.html.twig' %}
{% block title %}Match | Game Result{% endblock %}
{% block page_title %}Game Result {% endblock page_title %}


{% block page_content %}


    <div class="col-md-10 col-sm-12 col-xs-12 centered">
        <div class="x_panel">
            <div class="x_title">
                <h2>Last Result
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">

                    <tbody>
                    <tr>

                        <td style='text-align:center;vertical-align:baseline'><img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}"> DALLAS COWBOYS
                        </td>
                        <td style='text-align:center;vertical-align:middle'>
                            <h1> 0 - 0 </h1>
                        </td>
                        <td style='text-align:center;vertical-align:baseline'>DALLAS COWBOYS <img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}">
                        </td>
                    </tr>

                    <tr>

                        <td style='text-align:center;vertical-align:baseline'><img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}"> DALLAS COWBOYS
                        </td>
                        <td style='text-align:center;vertical-align:middle'>
                            <h1> 0 - 0 </h1>
                        </td>
                        <td style='text-align:center;vertical-align:baseline'>DALLAS COWBOYS <img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}">
                        </td>
                    </tr>

                    <tr>

                        <td style='text-align:center;vertical-align:baseline'><img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}"> DALLAS COWBOYS
                        </td>
                        <td style='text-align:center;vertical-align:middle'>
                            <h1> 0 - 0 </h1>
                        </td>
                        <td style='text-align:center;vertical-align:baseline'>DALLAS COWBOYS <img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}">
                        </td>
                    </tr>

                    <tr>

                        <td style='text-align:center;vertical-align:baseline'><img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}"> DALLAS COWBOYS
                        </td>
                        <td style='text-align:center;vertical-align:middle'>
                            <h1> 0 - 0 </h1>
                        </td>
                        <td style='text-align:center;vertical-align:baseline'>DALLAS COWBOYS <img
                                    src="{{ asset('assets/images/teamUploads/teamFlag.png') }}">
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock page_content %}
