{% extends 'BackBundle:common:_base.html.twig' %}
{% block title %}Match | Game Schedule{% endblock %}

{% block page_title %}Game Schedule{% endblock page_title %}
{% block page_content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <button type="submit" class="btn btn-success ">New Match</button>

            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                    <th class="column-title">DATE</th>
                    <th class="column-title">TIME</th>
                    <th class="column-title">TEAM</th>
                    <th class="column-title">TEAM</th>
                    <th class="column-title">STADIUM</th>
                    <th class="column-title">LEVEL</th>
                    <th class="column-title">TICKETS</th>
                    <th class="column-title">EDIT</th>
                    </th>
                    <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
                            <span class="action-cnt"> </span> ) <i
                                    class="fa fa-chevron-down"></i></a>
                    </th>
                </tr>
                </thead>


                <tbody>
                {% for m in matchs %}
                    <tr>
                        <td class=" ">{{ m.date }}</td>
                        <td class=" ">{{ m.time }}</td>
                        <td class=" ">{{ m.team1.name }}
                        <td class=" ">{{ m.team2.name }}</td>
                        <td class=" ">{{ m.stadium }}</td>
                        <td class=" ">{{ m.level }}</td>
                        <td class=" ">8,674 tickets</td>
                        <td class="">
                            <a href="#" class="btn btn-info btn-xs "><i class="fa fa-pencil"></i> Edit
                            </a>
                            <a href="{{ path('delete_match',{'id':m.id}) }}" class="btn btn-danger btn-xs"><i
                                        class="fa fa-trash-o"></i>
                                Delete </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>
</div>
{% endblock %}




