<div class="aside-component">
    <!-- Heading Component-->
    {% include 'AppBundle:news-main-component:_heading-component-title.html.twig' with {'title' : 'GALLERY'} %}


    <article class="instafeed" data-instafeed-tagname="tm_63853_football"
             data-instafeed-get="tagged" data-instafeed-sort="least-liked"
             data-lightgallery="group">
        <div class="row row-10 row-narrow">
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-6 col-lg-4" data-instafeed-item=""><a
                        class="thumbnail-creative" data-lightgallery="item" href="#"
                        data-images-standard_resolution-url="href"><img src="{{ asset('assets/images/_blank.png') }}"
                                                                        alt=""
                                                                        data-images-thumbnail-url="src"/>
                    <div class="thumbnail-creative-overlay"></div>
                </a>
            </div>
        </div>
    </article>
</div>