<div class="aside-component">
    <div class="owl-carousel-outer-navigation">
        <!-- Heading Component-->
        <article class="heading-component">
            <div class="heading-component-inner">
                <h5 class="heading-component-title">Shop
                </h5>
                <div class="owl-carousel-arrows-outline">
                    <div class="owl-nav">
                        <button class="owl-arrow owl-arrow-prev"></button>
                        <button class="owl-arrow owl-arrow-next"></button>
                    </div>
                </div>
            </div>
        </article>

        <!-- Owl Carousel-->
        <div class="owl-carousel" data-items="1" data-dots="false" data-nav="true"
             data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false"
             data-nav-custom=".owl-carousel-outer-navigation">
            <article class="product">
                <header class="product-header">
                    <!-- Badge-->
                    <div class="badge badge-red">hot<span
                                class="icon material-icons-whatshot"></span>
                    </div>
                    <div class="product-figure"><img src="{{ asset('assets/images/shop/product-small-1.png') }}"
                                                     alt=""/></div>
                    <div class="product-buttons">
                        <div class="product-button product-button-share fl-bigmug-line-share27"
                             style="font-size: 22px;">
                            <ul class="product-share">
                                <li class="product-share-item"><span>Share</span></li>
                                <li class="product-share-item"><a class="icon fa fa-facebook"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-instagram"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-twitter"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-google-plus"
                                                                  href="#"></a></li>
                            </ul>
                        </div>
                        <a class="product-button fl-bigmug-line-shopping202"
                           href="shopping-cart.html" style="font-size: 26px;"></a><a
                                class="product-button fl-bigmug-line-zoom60"
                                href="{{ asset('assets/images/shop/product-1-original.jpg') }}" data-lightgallery="item"
                                style="font-size: 25px;"></a>
                    </div>
                </header>
                <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike hoops elite
                            backpack</a></h6>
                    <div class="product-price"><span class="product-price-old">$400</span><span
                                class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star_half"></span></li>
                    </ul>
                </footer>
            </article>
            <article class="product">
                <header class="product-header">
                    <!-- Badge-->
                    <div class="badge badge-shop">new
                    </div>
                    <div class="product-figure"><img src="{{ asset('assets/images/shop/product-small-2.png') }}"
                                                     alt=""/></div>
                    <div class="product-buttons">
                        <div class="product-button product-button-share fl-bigmug-line-share27"
                             style="font-size: 22px;">
                            <ul class="product-share">
                                <li class="product-share-item"><span>Share</span></li>
                                <li class="product-share-item"><a class="icon fa fa-facebook"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-instagram"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-twitter"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-google-plus"
                                                                  href="#"></a></li>
                            </ul>
                        </div>
                        <a class="product-button fl-bigmug-line-shopping202"
                           href="shopping-cart.html" style="font-size: 26px;"></a><a
                                class="product-button fl-bigmug-line-zoom60"
                                href="{{ asset('assets/images/shop/product-2-original.jpg') }}" data-lightgallery="item"
                                style="font-size: 25px;"></a>
                    </div>
                </header>
                <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike Air Zoom
                            Pegasus</a></h6>
                    <div class="product-price"><span
                                class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star_half"></span></li>
                    </ul>
                </footer>
            </article>
            <article class="product">
                <header class="product-header">
                    <div class="product-figure"><img src="{{ asset('assets/images/shop/product-small-3.png') }}"
                                                     alt=""/></div>
                    <div class="product-buttons">
                        <div class="product-button product-button-share fl-bigmug-line-share27"
                             style="font-size: 22px;">
                            <ul class="product-share">
                                <li class="product-share-item"><span>Share</span></li>
                                <li class="product-share-item"><a class="icon fa fa-facebook"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-instagram"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-twitter"
                                                                  href="#"></a></li>
                                <li class="product-share-item"><a class="icon fa fa-google-plus"
                                                                  href="#"></a></li>
                            </ul>
                        </div>
                        <a class="product-button fl-bigmug-line-shopping202"
                           href="shopping-cart.html" style="font-size: 26px;"></a><a
                                class="product-button fl-bigmug-line-zoom60"
                                href="{{ asset('assets/images/shop/product-3-original.jpg') }}" data-lightgallery="item"
                                style="font-size: 25px;"></a>
                    </div>
                </header>
                <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike distressed
                            baseball hat</a></h6>
                    <div class="product-price"><span
                                class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star"></span></li>
                        <li><span class="material-icons-star_half"></span></li>
                    </ul>
                </footer>
            </article>
        </div>
    </div>
</div>