<!-- Best Scorer Fist Team-->
<div class="player-info-corporate player-info-other-team">
    <div class="player-info-figure">
        <div class="block-number"><span>{{ bestScorerT1[0].playerNumber }}</span></div>
        <div class="player-img"><img src="{{ asset('assets/images/player-2-368x300.png') }}" alt="" width="368"
                                     height="300"/>
        </div>
        <div class="team-logo-img"><img src="{{ asset('assets/images/logo-team-2-370x346.png') }}" alt="" width="370"
                                        height="346"/>
        </div>
    </div>
    <div class="player-info-main">
        <h4 class="player-info-title">{{ bestScorerT1[0].playerName }} {{ bestScorerT1[0].playerLastName }}</h4>
        <p class="player-info-subtitle">{{ bestScorerT1[0].playerPosition }} </p>
        <hr/>
        <div class="player-info-table">
            <div class="table-custom-wrap">
                <table class="table-custom">
                    <tr>
                        <th>Goals</th>
                        <th>{{ bestScorerT1[0].goalScored }}</th>
                    </tr>
                    <tr>
                        <th>Assists</th>
                        <th>{{ bestScorerT1[0].assists }}</th>
                    </tr>
                    <tr>
                        <td>Shots on Target</td>
                        <td>{{ bestScorerT1[0].shotsOnTarget }}</td>
                    </tr>
                    <tr>
                        <td>Key Passes</td>
                        <td>{{ bestScorerT1[0].passes }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
    </div>
</div>


<!-- Best Scorer Second Team -->
<div class="player-info-corporate ">
    <div class="player-info-figure">
        <div class="block-number"><span>{{ bestScorerT2[0].playerNumber }}</span></div>
        <div class="player-img"><img src="{{ asset('assets/images/player-1-368x300.png') }}" alt="" width="368"
                                     height="300"/>
        </div>
        <div class="team-logo-img"><img src="{{ asset('assets/images/logo-team-2-370x346.png') }}" alt="" width="370"
                                        height="346"/>
        </div>
    </div>
    <div class="player-info-main">
        <h4 class="player-info-title">{{ bestScorerT2[0].playerName }} {{ bestScorerT2[0].playerLastName }}</h4>
        <p class="player-info-subtitle">{{ bestScorerT2[0].playerPosition }} </p>
        <hr/>
        <div class="player-info-table">
            <div class="table-custom-wrap">
                <table class="table-custom">
                    <tr>
                        <th>Goals</th>
                        <th>{{ bestScorerT2[0].goalScored }}</th>
                    </tr>
                    <tr>
                        <th>Assists</th>
                        <th>{{ bestScorerT2[0].assists }}</th>
                    </tr>
                    <tr>
                        <td>Shots on Target</td>
                        <td>{{ bestScorerT2[0].shotsOnTarget }}</td>
                    </tr>
                    <tr>
                        <td>Key Passes</td>
                        <td>{{ bestScorerT1[0].passes }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
    </div>
</div>