<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="http://static.livedemo00.template-help.com/wt_63853/soccer/images/favicon.ico"
          type="image/x-icon">

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600%7CRoboto:400,900">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
    {#<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" id="main-styles-link">#}
    <link rel="stylesheet" href="{{ asset('assets/css/style-billards.css') }}" id="main-styles-link">
</head>

<body>
<h1>{{ m.team1.teamName }} ({{ score.scoreTeam1 }} - {{ score.scoreTeam2 }}) {{ m.team2.teamName }}</h1>

<div class="table-game-info-wrap"><span class="table-game-info-title">Game statistics<span></span></span>
    <div class="table-game-info-main table-custom-responsive">
        <table class="table-custom table-game-info">
            <tbody>
            <tr>
                <td class="table-game-info-number">{{ stat1.shots }}</td>
                <td class="table-game-info-category">Shots (on target)</td>
                <td class="table-game-info-number">{{ stat2.shots }}</td>
            </tr>
            <tr>
                <td class="table-game-info-number">{{ stat1.cornerKicks }}</td>
                <td class="table-game-info-category">Corner kicks</td>
                <td class="table-game-info-number">{{ stat2.cornerKicks }}</td>
            </tr>
            <tr>
                <td class="table-game-info-number">{{ stat1.fouls }}</td>
                <td class="table-game-info-category">Saves</td>
                <td class="table-game-info-number">{{ stat2.fouls }}</td>
            </tr>
            <tr>
                <td class="table-game-info-number">{{ stat1.yellowCard }}</td>
                <td class="table-game-info-category">Yellow cards</td>
                <td class="table-game-info-number">{{ stat2.yellowCard }}</td>
            </tr>
            <tr>
                <td class="table-game-info-number">{{ stat1.redCards }}</td>
                <td class="table-game-info-category">Red cards</td>
                <td class="table-game-info-number">{{ stat2.redCards }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
