{% set picture = 'assets/images/teamUploads/' ~ logo %}
<!-- Bootstrap card-->
<a href="{{ path('team_display',{'id':s.idTeam}) }}">
    <article class="card card-custom">
        <div class="card-standing-position card-standing-counter"></div>
        <div class="card-header" id="accordion1Heading2" role="tab">
            <div class="card-standing-team-item">
                <div class="card-standing-team">
                    <div class="card-standing-team-figure"><img
                                src="{{ asset(picture) }}" alt="" width="45"
                                height="35"/>
                    </div>
                    <div class="card-standing-team-title">
                        <div class="card-standing-team-name">{{ s.teamName }}</div>
                        <div class="card-standing-team-country">{{ s.teamShortcut }}</div>
                    </div>
                </div>
                <div class="card-standing-number">{{ s.matchPlayed }}</div>
                <div class="card-standing-number">{{ s.win }}</div>
                <div class="card-standing-number">{{ s.lost }}</div>
                <div class="card-standing-number">{{ s.draw }}</div>
                <div class="card-standing-number">{{ s.goalFor }}</div>
                <div class="card-standing-number">{{ s.goalAgainst }}</div>
                <div class="card-standing-number">{{ s.goalDiff }}</div>
                <div class="card-standing-points">{{ s.points }}</div>

            </div>
        </div>
    </article>
</a>
