{% for m in matchs %}
    {% set logoT1 = 'assets/images/teamUploads/' ~ m.team1.teamLogo %}
    {% set logoT2 = 'assets/images/teamUploads/' ~ m.team2.teamLogo %}
<article class="game-result">
    <div class="game-info">
        <p class="game-info-subtitle">{{ m.stadium }} -
            <time datetime="08:30"> {{ m.time | slice(0,5)}} </time>
        </p>
        <h3 class="game-info-title">{{ m.level }}</h3>
        <div class="game-info-main">
            <div class="game-info-team game-info-team-first">
                <figure><img src="{{ asset(logoT1) }}" alt="" width="100" height="100"/>
                </figure>
                <div class="game-result-team-name">{{ m.team1.teamName |slice(0,15) }}</div>
                <div class="game-result-team-country">USA</div>
            </div>
            <div class="game-info-middle game-info-middle-vertical">
                <time class="time-big" datetime="2017-04-17"><span class="heading-3">{{ m.date |date('D')|slice(0,3)}} {{ m.date |date('d')}} </span>
                    {{ m.date |date('F')|slice(0,3)}} {{ m.date |date('Y')}}

                </time>
                <div class="game-result-divider-wrap"><span class="game-info-team-divider">VS</span></div>
                <div class="group-sm">
                    <div class="button button-sm button-share-outline">Share
                        <ul class="game-info-share">
                            <li class="game-info-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                            <li class="game-info-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                            <li class="game-info-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        </ul>
                    </div>
                    <a class="button button-sm button-primary" href="{{ path('cart_add_item',{'match':m.id}) }}">Buy tickets</a>
                </div>
            </div>
            <div class="game-info-team game-info-team-second">
                <figure><img src="{{ asset(logoT2) }}" alt="" width="100" height="100"/>
                </figure>
                <div class="game-result-team-name">{{ m.team2.teamName |slice(0,15)}}</div>
                <div class="game-result-team-country">Spain</div>
            </div>
        </div>
        <div>

        </div>
    </div>


</article>

{% endfor %}
<br>
<div class="navigation text-center">
    {{ knp_pagination_render(matchs,'paginator/custom_without_next_and_previous.html.twig') }}
</div>

<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
