{% extends 'BackBundle:common:_base.html.twig' %}
{% block page_title %}Forum Subject{% endblock page_title %}
{% block page_content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ subject.title }}
            <small>
                {{ subject.auther.username }}
            </small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a href="{{ path('admin_subject_edit', { 'id': subject.id }) }}"><i class="fa fa-wrench"></i></a>
                </li>
                <li>
                    <a class="close-link" href="{{ path('admin_subject_index') }}"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="col-md-8 col-lg-8 col-sm-7">

                <!-- blockquote -->
                <blockquote>
                <tr>
                    <td><img src="{{ asset(''~ subject.file) }}" alt="" width="250" height="234"/></td>
                </tr>
                </blockquote>
                <blockquote><p>{{ subject.content }}</p></blockquote>
                {% if subject.etat == 'Waiting' or subject.etat == 'Refuse' %}
                <div class="form-group">
                    <br>
                    <a href="{{ path('accept_subject', {'id': subject.id }) }}"><button style="width: 80px;" class="btn btn-success" type="submit">Accept</button></a>
                      <a href="{{ path('refuse_subject', {'id': subject.id }) }}"><button style="width: 80px;" class="btn btn-success" type="submit">Refuse</button></a>
                 </div>
                {% endif %}
            </div>
        </div>
        <div class="x_content">
            <div class="x_title">
                <h2>Comments</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                    {{ render(controller('ForumBundle:Admin/CommentsAdmin:allComments' , {'subject' : subject})) }}
                </ul>
                <div class="comment-box">
                    <div class="comment-box-main">
                        <h2 class="comment-box-name">{{ app.user.username }}</h2>
                        <!-- RD Mailform-->
                        <form class="comment-box-form" data-form-output="form-output-global"
                              method="get"
                              action="{{ path('comment_add_admin' , {'id': subject.id }) }}">
                            <div class="form-wrap">
                                <textarea id="comment-message" name="message"
                                          data-constraints="@Required"
                                          class="resizable_textarea form-control"> </textarea>
                            </div>
                            <ul class="list-unstyled msg_list">
                                <div class="form-button">
                                    <button class="btn btn btn-success" type="submit">Comment</button>
                                </div>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
