{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotels list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Availablerooms</th>
            <th>Rate</th>
            <th>Stars</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td><a href="{{ path('hotel_show', { 'id': hotel.id }) }}">{{ hotel.id }}</a></td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.availableRooms }}</td>
                <td>{{ hotel.rate }}</td>
                <td>{{ hotel.stars }}</td>
                <td>{{ hotel.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hotel_show', { 'id': hotel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hotel_new') }}">Create a new hotel</a>
        </li>
    </ul>
{% endblock %}
