<div class="table-custom-responsive">
    <table class="table-custom table-standings table-creative">
        <thead>
        <tr>
            <th colspan="2">Team Position</th>
            <th>W</th>
            <th>L</th>
            <th>PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span>1</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-atletico-37x37.jpg') }}" alt=""
                                              width="37" height="37"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Atletico</div>
                    <div class="team-country">USA</div>
                </div>
            </td>
            <td>153</td>
            <td>30</td>
            <td>186</td>
        </tr>
        <tr>
            <td><span>2</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-sevilla-45x35.jpg') }}" alt=""
                                              width="45" height="35"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Sevilla</div>
                    <div class="team-country">Spain</div>
                </div>
            </td>
            <td>120</td>
            <td>30</td>
            <td>186</td>
        </tr>
        <tr>
            <td><span>3</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-real-madrid-29x43.jpg') }}" alt=""
                                              width="29" height="43"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Real Madrid</div>
                    <div class="team-country">Spain</div>
                </div>
            </td>
            <td>100</td>
            <td>30</td>
            <td>186</td>
        </tr>
        <tr>
            <td><span>4</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-celta-vigo-37x34.jpg') }}" alt=""
                                              width="37" height="34"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Celta Vigo</div>
                    <div class="team-country">Italy</div>
                </div>
            </td>
            <td>98</td>
            <td>30</td>
            <td>186</td>
        </tr>
        <tr>
            <td><span>5</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-barcelona-36x31.jpg') }}" alt=""
                                              width="36" height="31"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Barcelona</div>
                    <div class="team-country">Spain</div>
                </div>
            </td>
            <td>98</td>
            <td>30</td>
            <td>186</td>
        </tr>
        <tr>
            <td><span>6</span></td>
            <td class="team-inline">
                <div class="team-figure"><img src="{{ asset('/assets/images/team-bavaria-fc-39x37.jpg') }}" alt=""
                                              width="39" height="37"/>
                </div>
                <div class="team-title">
                    <div class="team-name">Bavaria FC</div>
                    <div class="team-country">Germany</div>
                </div>
            </td>
            <td>98</td>
            <td>30</td>
            <td>186</td>
        </tr>
        </tbody>
    </table>
</div>
