{% extends 'FrontBundle:common:_base.html.twig' %}
{% block title %}Forum{% endblock %}
{% block header_news %}active{% endblock %}
{% block body %}
    <!-- Section Breadcrumbs-->
    {% embed 'FrontBundle:common:_breadcrumbs.html.twig' with {'breadcrumbs_title' : name } %}
        {% block breadcrumbs_path %}
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="{{ path('forum_list') }}">Forum</a></li>
            <li class="active">{{ name }}</li>
        {% endblock %}
    {% endembed %}
    <!-- Blog Post-->
    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-30">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Badge-->
                        {#<div class="badge badge-secondary">The Team#}
                        {#</div>#}
                        <h3 class="blog-post-title">Titre</h3>
                        <div class="blog-post-header">
                            <div class="blog-post-author"><img class="img-circle" src="{{ asset('assets/images/user-3-63x63.jpg') }}" alt="" width="63" height="63"/>
                                <p class="post-author">Katrin Burns</p>
                            </div>
                            <div class="blog-post-meta">
                                <time class="blog-post-time" datetime="2018"><span class="icon mdi mdi-clock"></span>April 15, 2018</time>
                                <div class="blog-post-comment"><span class="icon mdi mdi-comment-outline"></span>345</div>
                                <div class="blog-post-view"><span class="icon fl-justicons-visible6"></span>234</div>
                            </div>
                        </div>
                        <div class="blog-post-author-quote">
                            <p>Philippe Coutinho is reportedly seeking clear-the-air talks with Liverpool after Barcelona gave up on trying to sign the Brazilian. Barca failed to make a breakthrough in their attempts to replace Neymar with the Liverpool attacker this season.</p>
                        </div>
                        <div class="blog-post-content">
                            <p>The Independent claims the player is ready for talks to settle any potential bad blood. It’s understood Liverpool rejected three bids from the Catalans with the final figure believed to be a £118million offer, which in fact proved to be just £82million up front with the rest in add-ons. Barca had imposed a 7pm Sunday deadline on Liverpool to agree to an offer that they had already rejected 48 hours earlier.</p>
                            <p>The Reds sporting director Michael Edwards ignored their deadline as Liverpool stuck to their stance that the player was not for sale at any price.</p><img src="./images/blog-post-1-683x407.jpg" alt="" width="683" height="407"/>
                            <p>The report of the Independent says: “People within the 25-year-old midfielder’s entourage are pointing the finger at Barcelona for manipulating their client and have suggested the Nou Camp club used family members to provide additional pressure. They insist the ill-conceived email was Barca’s idea.” Still, there’s no updates on how this situation can be resolved.</p>
                            <!-- Quote Default-->
                            <article class="quote-default">
                                <div class="quote-default-text">
                                    <p class="q">Coutinho’s camp will attempt to shift the blame for the saga on to Barca.</p>
                                </div>
                            </article>
                            <p>Now though, Coutinho and his representatives are ready to accept that a move is not going to happen, which leaves the player in an awkward position as he prepares to return to the Liverpool fold. The 25-year-old has yet to return to full training at Melwood and he will not be involved against either Hoffenheim on Wednesday night or Arsenal on Sunday.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Heading Component-->
                            <article class="heading-component">
                                <div class="heading-component-inner">
                                    <h5 class="heading-component-title">3 comments
                                    </h5>
                                </div>
                            </article>

                            <div class="blog-post-comments">
                                <!-- Post Comment-->
                                <div class="post-comment post-comment-parent">
                                    <div class="post-comment-aside"><img class="img-circle" src="{{ asset('assets/images/user-4-69x69.jpg') }}" alt="" width="69" height="69"/>
                                    </div>
                                    <div class="post-comment-main">
                                        <div class="post-comment-header">
                                            <h5 class="author-name">Linda Peterson</h5>
                                            <time class="post-comment-time" datetime="2017">2 days ago
                                            </time>
                                        </div>
                                        <div class="post-comment-text">
                                            <p>Thanks for the post! All you described looks odd, to be honest. However, it’s a fair play to Liverpool for keeping him. But £82m upfront + add ons is a lot of money for a player, who while clearly being talented goes missing in one game too many. Pretty much any list of the world's top 40-50 players wouldn't feature Coutinho. And for Liverpool to demand £100m for him is a bit odd. Soccer is really unpredictable if you ask me.</p>
                                        </div>
                                        <div class="post-comment-footer">
                                            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
                                            <div class="comment-reply"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Post Comment-->
                                <div class="post-comment post-comment-child">
                                    <div class="post-comment-aside"><img class="img-circle" src="{{ asset('assets/images/user-5-69x69.jpg') }}" alt="" width="69" height="69"/>
                                    </div>
                                    <div class="post-comment-main">
                                        <div class="post-comment-header">
                                            <h5 class="author-name">Erika Wood</h5>
                                            <time class="post-comment-time" datetime="2017">2 days ago
                                            </time>
                                        </div>
                                        <div class="post-comment-text">
                                            <p>You are absolutely right! As a long-time soccer fan I can’t see any reasons why this deal happened if it was rejected 48 hours earlier. It looks like a kind of affair Coutinho would have never gotten into.</p>
                                        </div>
                                        <div class="post-comment-footer">
                                            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
                                            <div class="comment-reply"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Post Comment-->
                                <div class="post-comment">
                                    <div class="post-comment-aside"><img class="img-circle" src="{{ asset('assets/images/user-6-69x69.jpg') }}" alt="" width="69" height="69"/>
                                    </div>
                                    <div class="post-comment-main">
                                        <div class="post-comment-header">
                                            <h5 class="author-name">Erik Peterson</h5>
                                            <time class="post-comment-time" datetime="2017">2 days ago
                                            </time>
                                        </div>
                                        <div class="post-comment-text">
                                            <p>All this situation seems to be a greatly planned manipulation. Well done to Liverpool on this - if true they get a key player back who is happy to play for them after feeling manipulated. That's a solid win. To my mind, it’s another absolute transfer window shocker for Barca. Their team sheet against Betis this weekend was so poor compared to their team of a couple of years ago. This window has hugely accelerated their decline.</p>
                                        </div>
                                        <div class="post-comment-footer">
                                            <div class="comment-like"><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">32</a></div>
                                            <div class="comment-reply"><span class="icon mdi mdi-comment-outline"></span><a href="#">Reply</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="comment-box-aside"><img class="img-circle" src="{{ asset('assets/images/user-7-69x69.jpg') }}" alt="" width="69" height="69"/>
                                    </div>
                                    <div class="comment-box-main">
                                        <h5 class="comment-box-name">Miranda</h5>
                                        <!-- RD Mailform-->
                                        <form class="rd-mailform comment-box-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="http://livedemo00.template-help.com/wt_63853/soccer/bat/rd-mailform.php">
                                            <div class="form-wrap">
                                                <label class="form-label" for="comment-message">Your comment</label>
                                                <textarea class="form-input" id="comment-message" name="message" data-constraints="@Required"></textarea>
                                            </div>
                                            <div class="form-button">
                                                <button class="button button-primary" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}