{% extends "BackBundle:common:_base.html.twig" %}

{% block stylesheets %}
    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
          rel="stylesheet">
{% endblock stylesheets %}

{% block title %}Players List{% endblock %}


{% block body %}
    {% block top_content_header %}
        <div class="page-title">
            <div class="title_left">
                <h3>Player
                    <small>List</small>
                </h3>
            </div>

        </div>
    {% endblock %}
    {% block page_content %}
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <div class=" col-sm-2 col-xs-12">
                        <a class="btn btn-success" href="{{ path('addPlayer') }}">New Player</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-fixed-header" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Position</th>
                            <th>Weight</th>
                            <th>Height</th>
                            <th>Total Games</th>
                            <th>National Team</th>
                            <th>Club</th>
                            <th>Skills</th>
                            <th>Clubs</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="costum-table">
                        {% for player in players %}
                            <tr>
                                <td>{{ player.playerName }}</td>
                                <td>{{ player.playerLastName }}</td>
                                <td>{{ player.playerPosition }}</td>
                                <td>{{ player.weight }}</td>
                                <td>{{ player.height }}</td>
                                <td>{{ player.totalGames }}</td>
                                <td>{{ player.nationalTeam.teamName }}</td>
                                <td>{{ player.team }}</td>
                                <td>
                                    <a href="{{ path('skillList',{'id':player.id}) }}"
                                       class="btn btn-default btn-xs">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a href="{{ path('addSkill',{'id':player.id}) }}"
                                       class="btn btn-default btn-xs">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('clubList',{'id':player.id}) }}"
                                       class="btn btn-default btn-xs">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a href="{{ path('addClub',{'id':player.id}) }}"
                                       class="btn btn-default btn-xs">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('playerEdit',{'id':player.id}) }}"
                                       class="btn btn-info btn-xs">
                                        <i class="fa fa-pencil"></i>Edit
                                    </a>
                                    <a href="{{ path('playerDelete',{'id':player.id}) }}"
                                       class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}


{% endblock %}

{% block javascripts %}

    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Datatables -->
    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>

{% endblock javascripts %}
