<div class="rd-navbar-panel-item rd-navbar-panel-item-right">
    <ul class="list-inline list-inline-bordered">
        <li>
            <!-- Select 2-->
            <select class="select select-inline" data-placeholder="Select an option"
                    data-dropdown-class="select-inline-dropdown">
                <option value="en" selected="">en</option>
                <option value="fr">fr</option>
                <option value="es">es</option>
            </select>
        </li>
        {{ render(controller('CartBundle:Cart:cartModal')) }}
        <li>
            {# TODO CHANGE PATH & OTHER STUFF#}
            {% if is_granted('ROLE_USER') %}
                <a class="link link-icon link-icon-left link-classic"
                   href="{{ path('app_homepage') }}">
                    <span class="icon fl-bigmug-line-user143"></span><span
                            class="link-icon-text">Dashboard</span></a>
            {% elseif is_granted('ROLE_ADMIN') %}
                <a class="link link-icon link-icon-left link-classic"
                   href="{{ path('fos_user_profile_show') }}">
                    <span class="icon fl-bigmug-line-user144"></span><span
                            class="link-icon-text">Your Account</span></a>
            {% else %}
                <a class="link link-icon link-icon-left link-classic"
                   href="{{ path('fos_user_registration_register') }}">
                    <span class="icon fl-bigmug-line-login12"></span><span
                            class="link-icon-text">Login</span></a>
            {% endif %}

        </li>

        <li>
            {% if is_granted('ROLE_USER') %}
                <a class="link link-icon link-icon-left link-classic"
                   href="{{ path('fos_user_security_logout') }}">
                    <span class="icon fl-budicons-free-logout12"></span><span
                            class="link-icon-text">Logout</span></a>
            {% endif %}
        </li>
    </ul>
</div>