<ul class="rd-navbar-nav">
    <li class="rd-nav-item {% block header_home %}{% endblock %}"><a class="rd-nav-link" href="{{ path('homepage') }}">Home</a>
    </li>
    <li class="rd-nav-item {% block header_feature %}{% endblock %}"><a class="rd-nav-link" href="#">Features</a>
        <!-- RD Navbar Megamenu-->
        <article class="rd-menu rd-navbar-megamenu rd-megamenu-2-columns context-light">
            <div class="rd-megamenu-main">
                <div class="rd-megamenu-item rd-megamenu-item-nav">
                    <!-- Heading Component-->
                    <article class="heading-component heading-component-simple">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Elements
                            </h5>
                        </div>
                    </article>

                    <div class="rd-megamenu-list-outer">
                        <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('article_index') }}">News</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('full_standings') }}">Standings</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('schedule_list') }}">Schedule</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('result_list') }}">Latest Result</a>
                            </li>
                        </ul>
                        <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('subject_index') }}">Forum</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('guide_index') }}">Guide</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('ticket_index') }}">Buy Tickets</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link"
                                                                 href="{{ path('cart_index') }}">Cart</a>
                            </li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" hidden
                                                                 href="{{ path('fos_user_security_login') }}">Login and
                                    Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {{ render(controller('NewsBundle:ArticleComponent:headerNews')) }}
            </div>
            <!-- Event Teaser-->
            {{ render(controller('MatchBundle:Front\\Home:headerNextMatch')) }}

        </article>

    </li>
    <li class="rd-nav-item {% block header_team %}{% endblock %}"><a class="rd-nav-link" href="#">Competition</a>
        <!-- RD Navbar Dropdown-->
        <ul class="rd-menu rd-navbar-dropdown">
            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('schedule_list') }}">Schedule</a>
            </li>
            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('result_list') }}">Results </a>
            </li>
            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ path('full_standings') }}">Groups</a></li>
        </ul>
    </li>
    <li class="rd-nav-item "><a class="rd-nav-link" href="{{ path('guide_index') }}">Fan Guide</a></li>
    <li class="rd-nav-item "><a class="rd-nav-link" href="{{ path('ticket_index') }}">Ticket</a></li>
</ul>